<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url "pages:index" %}">
      <i class="fas fa-brain me-2"></i>Mobtakir
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url "pages:index" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "pages:index" %}#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "pages:index" %}#pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "pages:about" %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "pages:contact" %}">Contact</a>
        </li>
      </ul>
      <a href="{% url "accounts:login" %}" class="btn btn-outline-light">Try for Free</a>
    </div>
  </div>
</nav>
